.MuiCardHeaderRoot {
  background: linear-gradient(0deg, rgba(221, 85, 18, 0.5), rgba(221, 85, 18, 0.5)), url("/img/box_bg.png");
  background-size: cover;
}

.MuiCardHeaderRoot div {
  min-width: 0px;
}

.MuiCardHeaderRoot span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MuiCardHeaderRoot * {
  color: white;
}