.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    width: 300px;
  }
  
  .local {
    color: #ff6600;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .status {
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
  }
  
  .aguardando {
    background-color: #ffcc00;
    color: #fff;
  }
  
  .em-andamento {
    background-color: #0077b5;
    color: #fff;
  }
  
  .finalizado {
    background-color: #1abc9c;
    color: #fff;
  }
  
  .data-limite {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .valor {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .editar {
    background-color: transparent;
    border: none;
    color: #0077b5;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .fa-pencil-alt {
    transition: color 0.3s ease-in-out;
  }
  
  .editar:hover .fa-pencil-alt {
    color: #0077b5;
  }
  