.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 200px auto auto;
}
